
  .ColorBoxFreeze {
    position: relative; /* Add this to the container */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 20%;
    /* Apply background gradient for border-like effect */
    background-image: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black);
    background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px, 2px 100%, 100% 2px;
    background-position: left top, left top, right top, left bottom, left bottom, left top;
    background-repeat: no-repeat;
        
    /* Apply box-shadow to create the appearance of a border within the box */
    box-shadow: inset 0 0 0 2px black;
  }
  
  .FrozenLabel {
    background-color: #333;
    color: white;
    padding: 4px;
    border-radius: 4px;
    /* font-size: 12px; */
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
  }
