/* .ColorBoxFreeze {
    width: 100px;
    height: 100px;
    border: 2px solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
  } */

  .ColorBoxFreeze {
    width: 20%;
    height: 20%;
  }
  
  .FrozenLabel {
    background-color: #333;
    color: white;
    padding: 4px;
    border-radius: 4px;
  }
  